.container {
    border: 1px solid black;
    display: flex;
    width: 500px;
    justify-content: center;
}

.box {
    border: 1px solid red;
    width: 200px;
}

.bigger {
    width: 50%;
}

.smaller {
    width: 25%;
}