.container {
    border: 1px solid black;
    display: flex;
    width: 100%;
    justify-content: center;
}

.box {
    border: 1px solid red;
    flex-grow: 1;
}

.bigger {
    flex-grow: 2;
}

.button {
    margin: 20px;
    padding: 10px;
    border: none;
    background-color: rgb(1, 1, 111);
    color: white;
    font-size: 20px;
    border-radius: 10%;
    transition: background-color 2s;
}

.button:hover {
    background-color: purple;
}

@media screen and (max-width: 500px) {
    .container {
        flex-direction: column;
    }
}